@inherits LayoutComponentBase

<CascadingValue Value="_isDarkMode">
        <MudThemeProvider
        @ref="@_mudThemeProvider"
        @bind-IsDarkMode="_isDarkMode"
        Theme="Configuration.Theme"/>
    <MudSnackbarProvider />

    <MudLayout>
        <MudAppBar>
            <h1>DomApp</h1>
            <MudSpacer />
            <MudSwitch @bind-Value="@_isDarkMode"
                       ThumbIcon="@(_isDarkMode ? Icons.Material.Rounded.DarkMode : Icons.Material.Rounded.LightMode)"
                       ThumbIconColor="Color.Primary" />
        </MudAppBar>
        <MudMainContent>
            <MudContainer>
                @Body
            </MudContainer>
        </MudMainContent>
</MudLayout>
</CascadingValue>

@code{
    private bool _isDarkMode = true;
    private MudThemeProvider _mudThemeProvider = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            await _mudThemeProvider.WatchSystemPreference(OnSystemPreferenceChanged);
            StateHasChanged();
        }
    }

    private Task OnSystemPreferenceChanged(bool newValue)
    {
        _isDarkMode = newValue;
        StateHasChanged();
        return Task.CompletedTask;
    }
}